html{
  font-family: 'Raleway', sans-serif;
}

.encabezado a{
  padding-left: 10%;
  text-transform: uppercase;
  font-size: 15px;
  color: #292d36;
  font-weight: bold; /*Texto en negrita*/
}
.work{
  margin-left: -80px; /*Espacio entre palabras*/
  margin-right: -80px;
}

header{
  position: fixed;
  background: white;
  top:0;
  left:0;
  width: 100%;
  padding: 40px;
  z-index: 1;
}

.encabezado img{
position: absolute;
top: 15%;
left: 83%;
width: 70px; height: 70px;
}

.box_1{
text-align: center;
}



.box_1 img{
  position: relative;
  top: 100px;
  left: -8px;
  width: 1280px;
  z-index: -1;
}
.texto1{
  position: absolute;
  top: 190px;
  margin: 0 0 50px 240px;
  color: white;
  /*margin-top: -200px;*/
}
.texto1 h1{
  font-size: 50px;
}

.botoncito{
  background: #2ecc71;
  padding: 10px;
  display: inline-block;

}

.box_2{ /*Rosa*/
  text-align: center;
  color: white;
  background: #f17c72;
  height: 600px;
  width: 1280px;
  margin-left: -8px;
}

.box_2 h1{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 200%;
  padding-top: 40px;
}

.box_2 img{
  width: 200px;
  top: 50px;
}

.interface {
  display: inline-block;
  margin-top: 50px;
}

.concept{
  display: inline-block;
  margin-left: 100px; /*Espacio entre palabras*/
  margin-right: 100px;
}
.desing{
  display: inline-block;
}

.box_3{
  text-align: center;
  background: white;
  width: 1280px;
  height: 1100px;
}
.box_3 img{ /*Mac*/
  position: relative;
  top: 60px;
  left: -8px;
  width: 900px;
}

.box_3 h2{
  font-size: 40px;
}

.imagePro{
  color: #292d36;
  text-align: center;
}

.imagePro img{
  width: 300px;
}

.pack_1{
  display: inline-block;
  column-count: 3;
}
.pack_2{
  display: inline-block;
  column-count: 3;
}
.pack_3{
  display: inline-block;
  column-count: 3;
}
.pack_4{
  display: inline-block;
  column-count: 3;
}




footer{
  text-align: center;
  color: white;
  background: #373b47;
  padding: 10px;


}
